html{
  margin: 0;
  padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("./img/back.png");
    background-size: auto 85vh;
    background-repeat: no-repeat;
    background-position: center 50px;
}
.btn{
  display: block;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}
.btn>a{
  padding: 5px 10vw 5px 10vw;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #8DD38B;
}
.btn>a:hover{
    background-color: #6cba69;
    color: white;
}
*{
  font-family: 'Noto Sans KR', sans-serif;
}

/*user*/
.userid{
  display: inline-block;
  position: absolute;
  right: 100px;
  top: 40px;
}
.profile_img{
  width: 55px;
  height: 55px;
  margin-left: 30px;
}
.profile_img>img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.userdrop{
  position: absolute;
  left: 96%;
  transform: translate(-70%, 0%);
  height: 0;
  width: 0;
  visibility: hidden;
  background-image: url("./img/profile_drop.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  margin-top: 10px;
  padding-top: 10px;
}
.userdrop>ul{
  text-align: center;
}
.userdrop>ul>li{
  text-align: center;
  list-style: none;
  margin-top: 18px;
}

/*header*/
header{
  padding-left: 290px;
  width: 100%;
  height:50px;
  box-shadow: 0px 2px 5px rgb(235, 235, 235);
  background-color: #ffffff;
  position: relative;
}

/* ------------------------------------------------카테고리-------------------------------------------------- */
nav{
  float: left;
  margin-left: 110px;
}
nav>ul>li>a{
  font-size: 13px;
  margin: 0 30px 0 30px;
}
.dropdown-menu{
  border: none;
  background:none;
  width: 100vw;
  text-align: center;
  margin-top: -2px;
}
#drop1{
  margin-left: -570px;
}
#drop2{
  margin-left: -670px;
}
#drop3{
  margin-left: -770px;
}
#drop4{
  margin-left: -870px;
}
.dropdown-item{
  background-color: rgba(141, 211, 139, 0.2);
  padding:10px;
}
.dropdown-item>a{
  margin:0 15px 0 15px;
  color: #656565;
  font-size: 13px;
}
.dropdown-item:hover{
  background-color: rgba(141, 211, 139, 0.2);
}
.logo_img{
  float: left;
  width: 95px;
}
#login_btn{
  padding: 2px 15px;
  background-color: #8DD38B;
  margin-right: 300px;
  margin-left: 20px;
  border: none;
  border-radius: 15px;
}
.link_btn{
  float: right;
  text-decoration: none;
  color: black;
  font-size: 12px;
}

a{
  text-decoration-line: none;
  color: #000000;
}
a:hover{
  text-decoration-line: none;
  color: #000000;
}

/* 스크롤바 커스텀 */
body::-webkit-scrollbar {
  width: 0;  /* 스크롤바의 너비 */
}