body {
  margin: 0;
  margin-top: 25px;
  padding: 0;
}
/* 로고 */
.logo {
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin-left: 50px;
}
.logo_img {
  width: 13%;
}
/* 프로필 */
.user {
  display: inline-block;
  float: right;
  margin-right: 30px;
  height: 40px;
}
.userid {
  display: inline-block;
  position: absolute;
  right: 100px;
  top: 40px;
}
.profile_img {
  width: 55px;
  height: 55px;
  margin-left: 30px;
}
.profile_img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.userdrop {
  position: absolute;
  left: 96%;
  transform: translate(-70%, 0%);
  height: 0;
  width: 0;
  visibility: hidden;
  background-image: url("./img/profile_drop.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  margin-top: 10px;
  padding-top: 10px;
}
.userdrop > ul {
  text-align: center;
}
.userdrop > ul > li {
  text-align: center;
  list-style: none;
  margin-top: 18px;
}
/* 회원가입 버튼 */
.join_btn {
  text-decoration: none;
  padding: 7px 15px 7px 15px;
  background-color: #32c1e0;
  color: white;
  border-radius: 10px;
  margin-right: 10px;
}
/* 로그인 버튼 */
.login_btn {
  cursor: pointer;
  text-align: center;
  background-color: #91d9e9;
  width: 90px;
  padding: 7px 0px 7px 0px;
  border-radius: 10px;
  color: white;
  display: inline-block;
}
/* 스크롤바 커스텀 */
body::-webkit-scrollbar {
  width: 0; /* 스크롤바의 너비 */
}
/* 로그인 박스 */
.dialog {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  visibility: hidden;
  background-color: white;
  border: 2px solid #32c1e0;
  border-radius: 30px;
  position: absolute;
}

.star_mark {
  color: #5c86d7;
  font-size: 16px;
}

/* 글 작성하기 */
.write_top {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

/* 필수 항목 */
.pilsu {
  text-align: right;
  font-size: 16px;
}

input[type="file"] {
  border-color: #ababab;
}

.file_btn {
}

.ttt {
  background-color: #e8f6e8;
  text-align: left;
}

tr {
  text-align: left;
  height: 50px;
}

th {
  width: 180px;
  padding-left: 25px;
  font-size: 16px;
  border-bottom: 1px solid #ababab;
}

td {
  width: 1000px;
  border-bottom: 1px solid #ababab;
  padding-left: 25px;
}

table {
  width: 100%;
  border-top: 3px solid #8dd38b;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
}
input {
  border-radius: 12px;
  border: 0.5px solid #444444;
  margin: 20px 0px 20px 0px;
}

#write {
  margin-left: 20%;
  margin-right: 20%;
}

#title {
  width: 55%;
  height: 30px;
  border-color: #ababab;
}

/* #write_content {
  margin-top: 26px;
} */

#content {
  margin-top: 15px;
  width: 80%;
  height: 340px;
  resize: none;
  margin-bottom: 15px;
  border-radius: 12px;
  border-color: #ababab;
}

.i {
  width: 100%;
}

.close {
  width: 25px;
  height: 25px;
  background-image: url("./img/btn_back.png");
  background-size: 100%;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}

/* 취소/확인 버튼 */
/* .btn-primary {
  margin: 80px 0px 0px 200px;
  width: 250px;
  margin-top: 80px;
} */

.btn-primary-close {
  margin-top: 80px;
  width: 341px;
  height: 51px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 10px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.btn-primary-check {
  margin-top: 80px;
  width: 341px;
  height: 51px;
  border: none;
  margin-left: 5%;
  background-color: #8dd38b;
  border-radius: 12px;
  font-size: 20px;
}

.write_btn {
  text-align: center;
}

/* footer */
footer {
  width: 100%;
  height: 260px;
  background-color: #f5f5f5;
  margin-top: 150px;
}
footer > div > img {
  width: 95px;
  margin-left: 300px;
}
footer > div {
  margin: 20px 50px 0 0;
  float: left;
}
